<%- include('partials/header.ejs') %>


<div class="card border-dark">
<div class="card-header border-info text-white text-left bg-primary">
<h5> Welcome to Earth! </h5>
</div>
<div class="card-body border-dark text-center">

        <p>
           Earth is the third plamet from the sun; it is home to crazy humnans--like you and me!  Earth is the only planet in our solar system that has a large amount of water on its surface.  A year on Earth is 365 days.  Earth is the only planet that is known to have to have life on it!
        </p>
        <img src="/img/earth.jpg"  class="img-fluid"  alt="Earth" /> <br>
        
 
</div>
</div>

       
<%- include('partials/footer.ejs') %>