<%- include('partials/header.ejs') %>

<div class="card border-dark">
<div class="card-header border-info text-white text-left bg-primary">
<h5> Welcome to Jupiter! </h5>
</div>
<div class="card-body border-dark text-center">


        <p>
            Jupiter is the largest planet in our solar system. It is the fifth planet from the sun and is orbited by 79 moons.  Jupiter is a "gas giant" and it is the third brightest object in the sky.  Jupiter can even be seen without a telescope!
        </p>
        <img src="/img/jupiter.png"  class="img-fluid"  alt="Jupiter" /> <br>

</div>
</div>



<%- include('partials/footer.ejs') %>