<%- include('partials/header.ejs') %>

<div class="card border-dark">
<div class="card-header border-info text-white text-left bg-primary">
<h5> Welcome to Mercury! </h5>
</div>
<div class="card-body border-dark text-center">

        <p>
            Mercury is the smallest planet in our solar system. Mercury is also the closest to our sun. Mercury's orbit around the sun takes 87.97 Earth days, making its days the shortest in our solar system. It is named after the Greek god, Hermes. Mercury's axis has the smallest tilt of any of the planets.  Mercury's surface appears to be similar to our moon. 
        </p>
        
        <img src="/img/mercury.jpg" class="img-fluid" alt="Mercury" /> <br>

</div>
</div>


<%- include('partials/footer.ejs') %>