<%- include('partials/header.ejs') %>


<div class="card border-dark">
<div class="card-header border-info text-white text-left bg-primary">
<h5> Welcome to Neptune! </h5>
</div>
<div class="card-body border-dark text-center">

       <p>
            Neptune is the eighth and last planet from the sun.  It is the fourth largest planet and it is also the third heaviest.  Neptune is also an ice giant. Neptune has 4 rings & it is named after the Roman God of the Sea.
        </p>
        <img src="/img/neptune.jpg"  class="img-fluid"  alt="Neptune" /> <br>

</div>
</div>




<%- include('partials/footer.ejs') %>