<%- include('partials/header.ejs') %>

<div class="card border-dark">
<div class="card-header border-info text-white text-left bg-primary">
<h5> Welcome to Venus! </h5>
</div>
<div class="card-body border-dark text-center">



        <p>
            Venus is the second planet from the sun. It has a day longer than an Earth year! A year on Venus is 225 Earth days. Venus was the first planet discovered by ancient Greeks. Venus is sometimes the first "star" you can see in the sky at night, before our moon rises; often, it can be observed in the morning before the sun comes up. Venus is a terrestrial planet & there was a time where scientists has hoped we could colonize there.
        </p>
        <img src="/img/venus.jpg"  class="img-fluid"  alt="Venus" /> <br>
</div>
</div>
        
        
        

<%- include('partials/footer.ejs') %>